Repository ARF-SS13/coyote-frontier, pull requests merged in 2025-09, with the labels that each got.

#172 Thrusters 2: The Rethrustening
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_but_cooler.yml
Labels: S: Untriaged, size/S, YML, C#

#173 Makes the rounds last a whole week
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: S: Untriaged, size/XS, C#

#174 no more rot!
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/hellspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_argocyte.yml
Labels: S: Untriaged, size/S, No C#, YML

#175 Readds a bunch of PoIs
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
Labels: size/M, No C#, YML

#183 Event Stuff
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Resources/Prototypes/_NF/Events/events.yml
Labels: size/XS, YML, C#

#189 hell yeah novelposting wooooo
  Content.Shared/CCVar/CCVars.Chat.cs
Labels: S: Untriaged, size/XS, C#

#190 hourlong shuttle call
  Content.Server/RoundEnd/RoundEndSystem.cs
Labels: S: Untriaged, size/XS, C#

#191 Rebalances IPCs for a space based game
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: size/S, No C#, YML, Docs

#192 Autocryos people who have been SSD in nash for more than 3 hours straight
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
  Content.Shared/_Coyote/CryoBraindeadsComponent.cs
  Content.Shared/_NF/CryoSleep/CryoSleepComponent.cs
  Resources/Maps/_NF/Outpost/Nash.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: size/M, S: Untriaged, YML, C#, Map-Outpost

#193 Silicons count as structural
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: S: Untriaged, size/XS, No C#, YML

#197 IPC addendums
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/_EinsteinEngines/Silicon/Charge/Systems/SiliconChargeSystem.cs
  Content.Shared/_EinsteinEngines/Silicon/Components/SiliconComponent.cs
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: size/M, S: Untriaged, YML, C#, Docs

#198 Adds portable smesses
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/psmes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/engineering_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_NF/Structures/Power/psmes.rsi/meta.json
  Resources/Textures/_NF/Structures/Power/psmes.rsi/psmes-open.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/psmes.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-oc0.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-oc1.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-oc2.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-og1.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-og2.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-og3.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-og4.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-og5.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-op0.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-op1.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/smes-op2.png
  Resources/Textures/_NF/Structures/Power/psmes.rsi/static.png
Labels: size/M, No C#, Sprites, YML

#199 No longer banishes you to the shadow realm if you had a job
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
Labels: S: Untriaged, C#

#204 Damage falloff
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
Labels: size/M, S: Untriaged, YML, C#

#203 exped flatpack now sells RTGs, IFF price increased
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: S: Untriaged, size/S, YML, C#

#200 You suck and heres the bill
  Content.Server/_Coyote/RPIncentiveComponent.cs
  Content.Server/_Coyote/RoleplayIncentiveSystem.cs
  Content.Server/_Coyote/RpiChatActionCategory.cs
  Content.Server/_Coyote/RpiChatRecord.cs
  Content.Shared/_Coyote/RolePlayIncentiveShared/GetRoleplayIncentiveModifier.cs
  Content.Shared/_Coyote/RolePlayIncentiveShared/RpiChatActionPrototype.cs
  Content.Shared/_Coyote/RolePlayIncentiveShared/RpiTaxBracketPrototype.cs
  Resources/Locale/en-US/_COYOTE/rp_incentive.ftl
  Resources/Prototypes/_COYOTE/RpiChatActions.yml
  Resources/Prototypes/_COYOTE/RpiTaxBrackets.yml
Labels: S: Untriaged, size/L, FTL, YML, C#

#205 IPC no Structual
  Resources/Prototypes/Damage/containers.yml
Labels: No C#, YML

#210 Removes anchor from the chameleon projector
  Content.Shared/Polymorph/Systems/SharedChameleonProjectorSystem.cs
Labels: S: Untriaged, size/S, C#

#209 jetbrains yaml practice v2
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: S: Untriaged, size/S, No C#, YML

#211 reduces ship buyback by 40%
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Untriaged, size/XS, C#

#217 INTEGS SUCK
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Resources/Prototypes/_COYOTE/Entities/Structures/Furniture/pole.yml
Labels: YML, C#

#212 Plants that filter CO2
  Content.Client/Examine/ExamineSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Resources/Locale/en-US/atmos/portable-scrubber.ftl
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/pottedplantvend.yml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
Labels: size/M, S: Untriaged, FTL, YML, C#, Docs

#213 Adds an overweight quirk
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/_Coyote/Needs/NeedThreshold.cs
  Content.Shared/_Coyote/Needs/SharedNeedsSystem.cs
  Content.Shared/_Coyote/OverweightTraitComponent.cs
  Content.Shared/_Coyote/OverweightTraitSystem.cs
  Resources/Audio/_COYOTE/Creaks/creak-small-1.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-10.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-11.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-2.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-3.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-4.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-5.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-6.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-7.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-8.ogg
  Resources/Audio/_COYOTE/Creaks/creak-small-9.ogg
  Resources/Locale/en-US/_COYOTE/overweight_trait.ftl
  Resources/Locale/en-US/_COYOTE/traits.ftl
  Resources/Prototypes/_COYOTE/Needs/NeedsChiara.yml
  Resources/Prototypes/_COYOTE/Traits.yml
Labels: size/M, FTL, YML, C#, Audio

#214 Nerfs hungerthirst
  Resources/Prototypes/_COYOTE/Needs/NeedsDefault.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsDefaultNPC.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsRodentia.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsVulpkanin.yml
Labels: S: Untriaged, No C#, YML

#215 Increased timers for Mail
  Content.Server/Delivery/CargoDeliveryDataComponent.cs
  Content.Server/_DV/Mail/Components/MailComponent.cs
Labels: S: Untriaged, size/XS, C#

#218 title
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: S: Untriaged, size/S, No C#, YML

#219 kicks space janitor into overdrive
  Content.Server/_Coyote/SpaceJanitor/SpaceJanitorSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
Labels: S: Untriaged, size/S, YML, C#

#227 Hottie fixes
  Content.Client/Examine/ExamineSystem.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
  Content.Shared/_Coyote/Needs/NeedDatum.cs
  Content.Shared/_Coyote/Needs/SharedNeedsSystem.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Prototypes/_COYOTE/Needs/NeedsAnimal.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsAnimalHuge.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsAnimalTiny.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsChiara.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsDefault.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsDefaultNPC.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsDragon.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsRat.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsRodentia.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsShark.yml
  Resources/Prototypes/_COYOTE/Needs/NeedsVulpkanin.yml
Labels: YML, C#
