Repository ARF-SS13/coyote-frontier, pull requests merged in 2025-07, with the labels that each got.

#20 Adds subtle and turbofucks speach
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Commands/SubtleCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_Coyote/ColorExtensions.cs
  Resources/Locale/en-US/Floof/chat/ui/chat-box.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/NPCs/debug.yml
Labels: size/M, S: Untriaged

#27 Lets any species be any color!
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_NF/Species/goblin.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Untriaged, size/S

#25 Untap upkeep draw (Updates to Frontier 7-2-25)
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml.cs
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Goobstation/Research/UI/FancyResearchConsoleItem.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Doors/Electronics/Systems/DoorElectronicsSystem.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.TradeCrates.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/RadarConsoleComponent.cs
  Content.Shared/_NF/Shuttles/Events/SetTrackedCoordinatesRequest.cs
  Resources/Locale/en-US/_NF/cargo/trade-crate.ftl
  Resources/Locale/en-US/_NF/publictransit/bus-schedule-component.ftl
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/Shuttles/Admin/warden.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: S: Untriaged, size/XL

#29 Update README.md
  README.md
Labels: S: Untriaged, size/XS

#37 What a bore (Ports vore from flooftier)
  Content.Client/Consent/UI/Windows/ConsentWindow.xaml.cs
  Content.Client/Floofstation/VoredSystem.cs
  Content.Server/FloofStation/VoreSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Floofstation/VoreComponent.cs
  Content.Shared/Floofstation/VoredComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Audio/Floof/Vore/gulp.ogg
  Resources/Audio/Floof/Vore/stomach_loop.ogg
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/Floof/interaction/verbs/noop.ftl
  Resources/Locale/en-US/Floof/vore.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/consent.yml
Labels: size/M, S: Untriaged

#38 fixed rat undies
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
  Resources/Textures/Floof/Mobs/Customization/honkers.rsi/pshapely_busty.png
Labels: S: Untriaged, size/S

#40 Custom Examine Texts (#1168)
  Content.Client/_Floof/Examine/CustomExaminePart.xaml
  Content.Client/_Floof/Examine/CustomExaminePart.xaml.cs
  Content.Client/_Floof/Examine/CustomExamineSettingsWindow.xaml
  Content.Client/_Floof/Examine/CustomExamineSettingsWindow.xaml.cs
  Content.Client/_Floof/Examine/CustomExamineSystem.cs
  Content.Server/Consent/ConsentSystem.cs
  Content.Server/_Floof/Examine/CustomExamineSystem.cs
  Content.Shared/Consent/SharedConsentSystem.cs
  Content.Shared/_Floof/Examine/CustomExamineComponent.cs
  Content.Shared/_Floof/Examine/CustomExamineSystem.cs
  Content.Shared/_Floof/Examine/SetCustomExamineMessage.cs
  Resources/Locale/en-US/Blep/consent.ftl
  Resources/Locale/en-US/_Floof/examine/custom-examine.ftl
  Resources/Prototypes/consent.yml
Labels: size/M, S: Untriaged

#42 Everyone can have all sorts of markings
  Resources/Locale/en-US/_Floof/anthro.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/antenna.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/bishop.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/hephiastos.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/morpheus.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/screens.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/shellguard.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/wardtakahashi.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/xion.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/zenghu.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/markings/anthro.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/markings/anthro_ears.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/markings/anthro_tails.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/markings/species_adaptors.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/bodyhair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/headcovers.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: size/M, S: Untriaged

#43 Robots get paid, no more double emotes
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_Coyote/RoleplayIncentiveSystem.cs
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: S: Untriaged, size/S

#45 Lets you put numbers and symbols and in your name
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/_EinsteinEngines/InventoryTemplates/ipc_inventory_template.yml
Labels: S: Untriaged, size/S

#46 Add lib station to frontier.yml
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: size/M, S: Untriaged

#49 Adjusts roleplaying guidebook page
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Roleplay.xml
Labels: S: Untriaged, size/S

#51 Slimes get furry parts, IPCs become CBT when drained
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
Labels: S: Untriaged, size/S

#53 a tiny bit of lore
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
Labels: S: Untriaged, size/S

#54 Boob shirts and vulp screams
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
  Resources/Prototypes/_NF/Species/goblin.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Untriaged, size/S

#55 comments out anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
Labels: enhancement, S: Untriaged, size/S

#56 cargo, service, medical lore
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
  Resources/ServerInfo/Guidebook/Service/Service.xml
Labels: S: Untriaged, size/S

#57 continuing
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Service/Service.xml
  Resources/ServerInfo/_NF/Guidebook/CargoHauling.xml
Labels: S: Untriaged, size/S

#60 You can talk and emote and radio while in crit
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: S: Untriaged, size/S

#63 Crates are not a total loss anymore
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
Labels: S: Untriaged, size/XS

#64 Reclaimer no longer tells admins when someone reclaims a thing
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: S: Untriaged, size/XS

#65 Fixes thirst
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
Labels: S: Untriaged, size/S

#66 Da roolz
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
Labels: size/M, S: Untriaged

#67 makes shortasses and tallasses short and tall, also sheleg tails
  Resources/Prototypes/Floof/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Untriaged, size/S

#70 Doubles up the Nash Station 1 of jobs
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: S: Untriaged, size/S

#72 Guidebook Sweep
  Resources/Prototypes/Guidebook/lore.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/ServerInfo/Guidebook/Lore/LoreMaster.xml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/_NF/Guidebook/Bank.xml
  Resources/ServerInfo/_NF/Guidebook/CargoHauling.xml
  Resources/ServerInfo/_NF/Guidebook/Expeditions.xml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_NF/Guidebook/Piloting.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_NF/Guidebook/SectorTopology.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
Labels: size/M, S: Untriaged

#73 Remove access restrictions to the sheriff dock
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/S

#74 Adds the service worker
  Content.Server/_Coyote/CoolIncentives/CoolchefComponent.cs
  Content.Server/_Coyote/CoolIncentives/CoolchefSystem.cs
  Content.Server/_Coyote/CoolIncentives/GetRoleplayIncentiveModifier.cs
  Content.Server/_Coyote/RoleplayIncentiveSystem.cs
  Content.Server/_NF/Shipyard/Components/ShipyardVoucherComponent.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Locale/en-US/_COYOTE/job_names.ftl
  Resources/Locale/en-US/_COYOTE/rp_incentive.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_COYOTE/Jobs/food_service.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: size/M, S: Untriaged, S: Needs Review

#83 tunes food service a tad more, unsoftremoves Security Guard
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: S: Untriaged, size/XS

#84 spaces cargo depots further from Nash
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: S: Untriaged, size/XS

#85 FINALLY gets crates in line
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
Labels: S: Untriaged, size/S

#87 increases starting funds to prepare for the incident
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: S: Untriaged, size/XS

#89 The Mappening 3 revelations
  Resources/Maps/_NF/Outpost/Nash.yml
  Resources/Prototypes/Atmospherics/gases.yml
Labels: S: Untriaged, size/XL

#90 Boca guidebook fix
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bocadillo.xml
Labels: S: Untriaged, size/S

#94 Shh im trying to be subtle
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/keybinds.yml
Labels: size/M, S: Untriaged

#96 Fixes for gayme
  Resources/Maps/_NF/Outpost/Nash.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
Labels: S: Untriaged, size/S

#95 Ahelps go to every admin's chat like it should
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: S: Untriaged, size/S

#97 The lore-enning.
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/lore.yml
  Resources/ServerInfo/Guidebook/Lore/LoreMaster.xml
  Resources/ServerInfo/Guidebook/Lore/Nanotrasen.xml
  Resources/ServerInfo/Guidebook/Lore/Solgov.xml
  Resources/ServerInfo/Guidebook/Lore/USSP.xml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
Labels: S: Untriaged, size/S

#103 Expand pirates loadout options
  Resources/Prototypes/_NF/Loadouts/nfpirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: S: Untriaged, size/S

#104 Ported wataur bottles from Coyote Bayou
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_soda.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/wataurbottle.rsi/meta.json
Labels: S: Untriaged, size/S

#107 Mapping pads my contribution statistics :3
  Resources/Locale/en-US/_NF/dock/dock.ftl
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/Outpost/Nash.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: S: Untriaged, size/XL

#115 lily can scream properly now
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
Labels: S: Untriaged, size/XS

#113 guys i found the obvious problems
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/S

#110 Adds Theobromine and Allicin intolerance traits
  Content.Server/EntityEffects/EffectConditions/EventResponseCondition.cs
  Content.Server/EntityEffects/Effects/AdjustReagent.cs
  Content.Server/_Coyote/EventResponseReagentCondition/EventResponseReagentConditionComponent.cs
  Content.Server/_Coyote/EventResponseReagentCondition/EventResponseReagentConditionSystem.cs
  Content.Shared/EntityEffects/EntityEffect.cs
  Resources/Locale/en-US/_COYOTE/traits.ftl
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_COYOTE/Traits.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Feroxi.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Vulpkanin.xml
Labels: size/M, S: Untriaged, S: Needs Review

#111 sorts the ghost stuff a bit better
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostTargetWindow.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
Labels: S: Untriaged, size/S

#112 go2lobby
  Resources/Locale/en-US/administration/ui/actions.ftl
Labels: S: Untriaged, size/XS

#114 Messes with radio static
  Resources/Audio/_COYOTE/RadioStatic/Default/say.ogg
  Resources/Audio/_COYOTE/RadioStatic/Medical/say.ogg
  Resources/Audio/_COYOTE/RadioStatic/Science/say.ogg
  Resources/Audio/_COYOTE/RadioStatic/Security/say.ogg
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_COYOTE/RadioStatic/RadioStatic.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: S: Untriaged, size/S

#116 Buffs the Biogen
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
  Content.Shared/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
Labels: S: Untriaged, size/S

#118 Changes Space Law and NFSD SOP Book Hyperlinks
  Resources/Prototypes/_NF/Entities/Objects/Books/hyperlinks.yml
Labels: S: Untriaged, size/XS

#120 send the imporant stuff to admin chat
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: S: Untriaged, size/XS
