Repository ARF-SS13/coyote-frontier, pull requests merged in 2025-08, with the labels that each got.

#119 Modifies Roleplay Incentive values
  Content.Server/_Coyote/CoolIncentives/CoolchefComponent.cs
  Content.Server/_Coyote/CoolIncentives/CoolchefSystem.cs
  Content.Server/_Coyote/RPIncentiveComponent.cs
  Content.Server/_Coyote/RoleplayIncentiveSystem.cs
  Resources/Prototypes/_COYOTE/Jobs/food_service.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_first_mate.yml
Labels: size/M, S: Untriaged

#121 The FCY Hotdog
  Resources/Maps/_NF/Shuttles/Scrap/hotdog.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/hotdog.yml
Labels: S: Untriaged, size/L

#122 Hotdog Fixes
  Resources/Maps/_NF/Shuttles/Scrap/hotdog.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/hotdog.yml
Labels: S: Untriaged, size/S

#105 Adds PDA radar blips so you can be found!!
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Content.Server/_Coyote/BlipCartridge/BlipCartridgeSystem.cs
  Content.Server/_NF/Radar/RadarBlipComponent.cs
  Content.Server/_NF/Radar/RadarBlipSystem.cs
  Content.Shared/CartridgeLoader/CartridgeComponent.cs
  Content.Shared/_Coyote/BlipCartridge/BlipCartridgeComponent.cs
  Content.Shared/_Coyote/BlipCartridge/BlipColorSetPrototype.cs
  Content.Shared/_Coyote/BlipCartridge/BlipShapeSetPrototype.cs
  Content.Shared/_Coyote/BlipCartridge/RadarBlipPresets.cs
  Content.Shared/_NF/Radar/RadarMessages.cs
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_COYOTE/Blipz/blip_color_set.yml
  Resources/Prototypes/_COYOTE/Blipz/blip_shape_set.yml
  Resources/Prototypes/_COYOTE/Blipz/radar_blip_presets.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, size/L

#123 opens up drydock B so the nightlight doesn't get stuck
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/S

#124 Cassette hell
  Resources/Prototypes/Floof/Catalog/Cargo/Cargo_CassetteRecorderBox.yml
  Resources/Prototypes/Floof/Catalog/Fills/Crates/CassetteRecorderBox.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/backpack_items.yml
Labels: S: Untriaged, size/S

#125 MARKINGS FOR ALL
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/bishop.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/hephiastos.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/morpheus.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/shellguard.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/wardtakahashi.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/xion.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Customization/zenghu.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
  Resources/Prototypes/_Floof/Entities/Mobs/Customization/markings/species_adaptors.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_NF/Species/goblin.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Untriaged, size/L

#127 Gives SR a Duchess ship voucher
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Textures/_NF/Objects/Misc/shipyard_voucher.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/shipyard_voucher.rsi/voucherSR.png
Labels: S: Untriaged, size/S

#128 Slimes can change their hair colour
  Resources/Prototypes/Species/slime.yml
Labels: S: Untriaged, size/XS

#133 Update publish_multi_request.py
  Tools/publish_multi_request.py
Labels: S: Untriaged, size/XS

#135 Makes checkout only hearable by you
  Resources/Prototypes/Interactions/noop_interactions.yml
Labels: S: Untriaged, size/XS

#136 I'm attacking you with an axe
  Resources/Prototypes/_COYOTE/CoyoteBayouClothes/coyote_bayou_unififorms_items.yml
Labels: S: Untriaged, size/L

#138 Revert "Adds custom species name"
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server.Database/Migrations/Postgres/20250810013201_AddsInCustomSpeciesNames.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250810013201_AddsInCustomSpeciesNames.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250810013155_AddsInCustomSpeciesNames.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250810013155_AddsInCustomSpeciesNames.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: S: Untriaged, size/L

#143 commented out lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
Labels: S: Untriaged, size/S

#144 Height and width show percents instead of useless metric stuff
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: S: Untriaged, size/S

#145 makes expedition flatpack vending machine iff computers infinite
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
Labels: S: Untriaged, size/XS

#129 Napping Mapping
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/XL

#149 Adds a veg drawer to SMARTfridges
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: S: Untriaged, size/S

#151 Nash Touchup
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: size/M, S: Untriaged

#152 Rebalances Some Xenoarch Numbers
  Content.Shared/Xenoarchaeology/Artifact/Components/XenoArtifactNodeComponent.cs
  Resources/Prototypes/XenoArch/effects.yml
Labels: S: Untriaged, size/XS

#155 Untap upkeep draw (8-13-25)
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/_NF/GridAccess/GridAccessComponent.cs
  Content.Shared/_NF/GridAccess/GridAccessSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, size/S

#157 Fixes Nash dock & library power
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/S

#159 Nash fixes - Smart Fridge & Some Lights
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, size/S

#162 Enquietens Vore
  Content.Server/Explosion/Components/TriggerOnMobstateChangeComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Mobstate.cs
  Content.Server/FloofStation/VoreSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Mobs/MobState.cs
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: S: Untriaged, size/S

#163 Food Vend and more catwalk floor tiles
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: size/M, S: Untriaged

#164 Adds in some more tiers of thruster
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/_NF/Shuttles/Components/ForceDampeningComponent.cs
  Content.Server/_NF/Shuttles/Systems/ForceDampeningSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Resources/Maps/_NF/Shuttles/Scrap/hotdog.yml
  Resources/Maps/_NF/Shuttles/adder.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_but_cooler.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
Labels: size/M, S: Untriaged

#165 Thruster fixes
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_but_cooler.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: size/M, S: Untriaged

#166 Automatic Shuttle Emergency Brakes
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
  Resources/Audio/_COYOTE/ShuttleStuff/ShuttleEBrakeEngaged.ogg
  Resources/Audio/_COYOTE/ShuttleStuff/ShuttleEBrakeEngagedQuietly.ogg
Labels: size/M, S: Untriaged

#167 Fixes vore powergame
  Content.Server/FloofStation/VoreSystem.cs
Labels: S: Untriaged, size/S

#169 Adds a skunk
  Resources/Prototypes/_COYOTE/eunice.yml
  Resources/Textures/_CS/skunk.rsi/meta.json
  Resources/Textures/_CS/skunk.rsi/skunk.png
  Resources/Textures/_CS/skunk.rsi/skunk_dead.png
Labels: S: Untriaged, No C#, Sprites, YML

#170 Crusher balancing
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
Labels: C#
