Repository ARF-SS13/coyote-frontier, pull requests merged in 2025-10, with the labels that each got.

#229 shuttle console network ports
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/DeviceLinking/Components/NoSignalOnLinkComponent.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.DeviceLinking.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.OnConsoleStartup.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.Startup.cs
  Content.Shared/Shuttles/Components/RadarConsoleComponent.cs
  Content.Shared/_NF/Shuttles/Events/ShuttlePortButtonPressedMessage.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_COYOTE/Shuttles/device_linking_ports.yml
Labels: size/M, FTL, YML, C#, UI

#228 Further size tweaks
  Resources/Prototypes/Floof/Species/resomi.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_NF/Species/goblin.yml
Labels: S: Untriaged, size/S, No C#, YML

#233 Plant analyzer faster use
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
Labels: size/XS, No C#, YML

#235 Edison maintenance adjustments and buyable tesla coils
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
Labels: S: Untriaged, size/S, No C#, YML

#238 not a big fan of UI code
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: S: Untriaged, size/S, No C#, FTL, UI

#239 Let the fuzzy fox sqeak and beep and honk and weh
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Shared/Speech/Components/VocalComponent.cs
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_COYOTE/emotes_but_cooler.yml
  Resources/Prototypes/_COYOTE/speech_emote_sounds_but_cooler.yml
Labels: S: Untriaged, size/L, S: Needs Review, YML, C#

#241 fixes nash pier 6 atmos
  Resources/Maps/_NF/Outpost/Nash.yml
Labels: S: Untriaged, No C#, Map-Outpost

#242 Revert "Merge pull request #239 from ARF-SS13/let-the-fuzzy-fox-sqeak…
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Shared/Speech/Components/VocalComponent.cs
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_COYOTE/emotes_but_cooler.yml
  Resources/Prototypes/_COYOTE/speech_emote_sounds_but_cooler.yml
Labels: S: Untriaged, size/L, YML, C#

#245 New Seeds in Biogen and loot
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
Labels: S: Untriaged, size/S, No C#, YML

#246 Printable Socks and Thongs, Evening Wear and Collars
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: size/M, S: Untriaged, No C#, YML
